.header-hamburger
	@apply flex flex-col gap-2 xl:ml-[calc(58/19.2*1rem)] cursor-pointer z-10 relative xl:hidden items-center justify-center 
	@apply w-[40px] h-[40px] bg-primary-1 rounded-0
	.wrap
		@apply relative w-full h-full flex-center
		span
			transform-origin: center center
			will-change: transform
			transition-timing-function: cubic-bezier(1,0,0,1)
			@apply transition-all duration-300 pointer-events-none
			@apply w-[22px] h-[2px] bg-white absolute
			&:nth-child(1)
				top: calc((50% - 1px) - 6px)
			&:nth-child(3)
				top: calc((50% - 1px) + 6px)
			&:nth-child(2)
				@apply opacity-100
body.isOpenMenu
	header
		.header-hamburger
			.wrap   
				span
					&:nth-child(1)
						transform: rotate(45deg)
						top: calc((50% - 1px))
					&:nth-child(2)
						@apply opacity-0
					&:nth-child(3)
						top: calc((50% - 1px))
						transform: rotate(-45deg)
@keyframes leftBar
	0%
		height: 0
		left: 0
		top: 100%
	20%
		height: 100%
		left: 0
		top: 0
	40%
		height: 0
		left: 0
		top: 0
@keyframes topBar
	0%, 20%
		left: 0
		top: 0
		width: 0
	40%
		left: 0
		top: 0
		width: 100%
	60%
		left: calc(100% - 1px)
		top: 0
		width: 0
@keyframes rightBar
	0%, 40%
		height: 0
		left: calc(100% - 1px)
		top: 0
	60%
		height: 100%
		left: calc(100% - 1px)
		top: 0
	80%
		height: 0
		left: calc(100% - 1px)
		top: 100%
@keyframes bottomBar
	0%, 60%
		left: 100%
		top: 100%
		width: 0
	80%
		left: 0
		top: 100%
		width: 100%
	100%
		left: 0
		top: 100%
		width: 0
