.header-hamburger
	@apply flex flex-col gap-2 xl:ml-[calc(58/19.2*1rem)] cursor-pointer z-10 relative xl:hidden items-center justify-center gap-0
	@apply w-11 h-11 bg-white rounded-2
	.wrap
		@apply relative w-full h-full flex-center
		span
			transform-origin: center center
			will-change: transform
			transition-timing-function: cubic-bezier(1,0,0,1)
			@apply transition-all duration-300 pointer-events-none
			@apply w-[22px] h-[2px] bg-primary-1 absolute
			&:nth-child(1)
				top: calc((50% - 1px) - 6px)
			&:nth-child(3)
				top: calc((50% - 1px) + 6px)
			&:nth-child(2)
				@apply opacity-100
body.isOpenMenu
	header
		.header-hamburger
			.wrap
				span
					&:nth-child(1)
						transform: rotate(45deg)
						top: calc((50% - 1px))
					&:nth-child(2)
						@apply opacity-0
					&:nth-child(3)
						top: calc((50% - 1px))
						transform: rotate(-45deg)
@keyframes leftBar
	0%
		height: 0
		left: 0
		top: 100%
	20%
		height: 100%
		left: 0
		top: 0
	40%
		height: 0
		left: 0
		top: 0
@keyframes topBar
	0%, 20%
		left: 0
		top: 0
		width: 0
	40%
		left: 0
		top: 0
		width: 100%
	60%
		left: calc(100% - 1px)
		top: 0
		width: 0
@keyframes rightBar
	0%, 40%
		height: 0
		left: calc(100% - 1px)
		top: 0
	60%
		height: 100%
		left: calc(100% - 1px)
		top: 0
	80%
		height: 0
		left: calc(100% - 1px)
		top: 100%
@keyframes bottomBar
	0%, 60%
		left: 100%
		top: 100%
		width: 0
	80%
		left: 0
		top: 100%
		width: 100%
	100%
		left: 0
		top: 100%
		width: 0

.navbar-mobile
	@screen -xl
		transition: transform .3s ease-in-out
		@apply left-0 w-full z-50
		@apply fixed top-[calc(var(--header-height)_+_0px)] px-4 py-5
		@apply shadow-md bg-white
		@apply h-[calc(100dvh-(var(--header-height)))]
		@apply border-t border-t-primary-1 flex flex-col
		@apply invisible -translate-x-full
.header-search-form-mobile
	@apply flex items-center relative py-2
	input
		@apply rem:h-[50px]
		@apply flex-1 border border-primary-1 px-5 border-r-0
		@apply text-black text-lg font-medium rounded-l-2
	button
		@apply rem:h-[50px] rem:w-[50px] flex-center bg-primary-1 text-white rounded-r-2
		&::before
			content: '\f002'
			@apply font-awesome font-light text-2xl
.header-user-mobile
	@apply xl:block
	ul
		@apply flex
		li
			@apply border-b-primary-1
			@apply flex-1 border first:border-r-0
			&.login
				a
					@apply bg-primary-1 text-white
			a
				@apply w-full flex-center rem:h-[48px] font-semibold text-lg
.menu-list
	@apply mt-4 flex-1 overflow-y-auto block
	& > ul
		@apply flex flex-col
		& > li
			@apply border-b border-gray-200
			& > a
				@apply block py-4 text-lg font-medium text-gray-900
			&.has-children
				& > a
					@apply relative
					&::after
						content: '\f078'
						font-family: 'Font Awesome 6 Pro'
						font-weight: 300
						transition: transform .3s
						@apply absolute right-2 top-1/2 -translate-y-1/2

			&.has-children.active
				& > a
					&::after
						transform: translateY(-50%) rotate(180deg)
			ul
				@apply hidden pl-4
				a
					@apply text-base py-3 block
body.isOpenMenu .navbar-mobile
	@screen -xl
		@apply visible translate-x-0
